<footer class="footer">
    {{>loadtime}}
    <p>&copy; 2023 made by w311</p>
    <img class="social_img" src="img/insta.png" alt="404">
    <img class="social_img" src="img/twitter.png" alt="404">
    <img class="social_img" src="img/facebook.png" alt="404">
    <img class="social_img" src="img/VK_Logo.png" alt="404">
    <img class="social_img" src="img/phone.png" alt="404">
</footer>
