<script src="js/load_time_forpage.js"></script>
<script src="js/interceptor.js"></script>
<div class="footer_load_time">
    <h3>Page load time</h3>
    <span id="load_time"></span>
</div>

<div class="footer_load_time">
    <h3>Server Timing</h3>
    <span id="server_timing"></span>
</div>
