<nav class="navigation">
    <ul class="homepage_navigation">
        <li class="homepage_navigation_list"><a class="homepage_navigation_list_item" href="../index.hbs">Главная</a></li>
        <li class="homepage_navigation_list"><a class="homepage_navigation_list_item" href="../contacts.hbs">Контакты</a></li>
        <li class="homepage_navigation_list"><a class="homepage_navigation_list_item" href="../vote.hbs">Голосование</a></li>
        <li class="homepage_navigation_list"><a class="homepage_navigation_list_item" href="../vote.hbs">Login</a></li>
    </ul>
</nav>
