
<head>
    {{>style}}




    <script src="script/active_menu.js"></script>




</head>
<body class="body">
{{>header}}
<main>
    <div class="container">
        <div class="main_todo">
            <form class="vote_form" action="/profile" method="GET">
                <div class="row">
                    <label for="name">Account name</label>
                    <input id="input-box" type="text" placeholder="Please, enter login" onkeydown="checkEnter(event)">
                </div>
                <div class="row">
                    <label for="password">Your Password</label>
                    <input id="input-box" type="text" placeholder="Password" onkeydown="checkEnter(event)">
                </div>
                <button class="button" type="submit">Enter</button>
            </form>
        </div>
    </div>

    <footer class="footer">
        {{>footer}}
    </footer>
</main>
</body>

