<head>
    {{>style}}
    <script src="script/active_menu.js"></script>
    <script src="script/load_time.js"></script>
</head>
<body class="body">
{{> header }}
<main class="main_todo">
    <h1>Голосование за команду/игрока недели</h1>
    <div>
        <form class="vote_form">
            <input class="vote_input" list="teamList">
            <datalist id="teamList">
                <option value="Ливерпуль">
                <option value="Тоттенхем">
                <option value="Арсенал">
                <option value="Манчестер Сити">
                <option value="Челси">
                <option value="Манчестер Юнайтед">
            </datalist>
            <button class="button" type="submit">Добавить</button>
            <ul class="list_items"></ul>
            <div class="output_list">
                <button class="button" type="submit">Отправить ответ</button>
            </div>
        </form>
    </div>
    <div id="ratingResults" class="results-container"></div>
</main>
<section class="section_load_time">
    <h3 class="time_title">Страница загрузилась всего за:</h3>
    <p class="time__duration"></p>
</section>
<footer class="footer">
    {{>footer}}
</footer>
<script defer src="script/football_script.js"></script>
</body>